*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family:  cursive;   
}
body{
   
   background-color: aliceblue;
   place-items: center;
   width: 100%;
   height: 100vh;
 
}
.inputContainer{
   width:70%;
   display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
   position: fixed;
}

.inputContainer input{
   border: none;
   margin-top:10px;
   padding: 0.7em;
   border-radius: 10px;
   font-size: 1em;
}
#displayInput{
   width: 30em;
}
#addTaskBtn{
   background-color: greenyellow;
   margin-left: 5px;
   cursor: pointer;
}
#addTaskBtn:hover
{
   background-color: rgb(85, 247, 52);
}

.task-list{
  margin: 20px;
  align-items: center;
width: 65%;
}
.task{   
   cursor: pointer;
   border: 1px solid lightgrey; 
   border-width: 0.2px;
   padding: 6px;
   background-color: white; 
   border-radius: 10px; 
   display: flex;
   justify-content: space-between;
   

}
h2{
   align-content: center;
   margin-top: 10px;
}
.content{
   margin-top: 20px;
   padding: 0.5rem;
  
}
.text{
  outline: none;
  border:none;
  text-overflow: ellipsis;
  font-size: 0.9em;
  
   
}
.edit,.delete{
   border: none;
   font-size: 0.9em;
   cursor: pointer;
   background-color: white;
   font-weight: bold;
   margin-right: 10px;
}
.edit{
   color: green;  
}
.edit:hover{
  opacity: 0.5;
}
.delete{
   color: red; 
}
.delete:hover{
   opacity: 0.5;
   
}
