*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Times New Roman'; 
   
}
body{ 
   background-color:aliceblue;
 margin: 10%;
   place-items: center;

}
.container{
   place-items: center;
   border: 2px solid black;
   width: 100%;
   height: 100vh;
  
}
.inputContainer input{
   border: none;
   margin-top:15px;
   padding: 0.7em;
   border-radius: 10px;
  
}
#displayInput{
   width: 400px;
}
#addTaskBtn{
   background-color: greenyellow;
   margin-left: 5px;
   cursor: pointer;
}
#addTaskBtn:hover
{
   background-color: rgb(85, 247, 52);
}

.task-list{
  margin: 20px;
  

}
.task{   
   cursor: pointer;
   border: 1px solid lightgrey; 
   border-width: 0.2px;
   padding: 6px;
   background-color: white; 
   border-radius: 10px; 
   display: flex;
   justify-content: space-between;
   

}
h2{
   align-content: center;
   margin-top: 10px;
}
.content{
   margin-top: 20px;
   padding: 0.5rem;
   width: 420px;
}
.text{
  outline: none;
  border:none;
  text-overflow: ellipsis;
  font-size: 0.9em;
  
   
}
.edit,.delete{
   border: none;
   font-size: 0.9em;
   cursor: pointer;
   background-color: white;
   font-weight: bold;
   margin-right: 10px;
}
.edit{
   color: green;  
}
.edit:hover{
  opacity: 0.5;
}
.delete{
   color: red; 
}
.delete:hover{
   opacity: 0.5;
   
}
